# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName phfmarketing.powerhungryfoods.com
AuthUserFile /hsphere/local/home/bbretail/phfmarketing.powerhungryfoods.com/_vti_pvt/service.pwd
AuthGroupFile /hsphere/local/home/bbretail/phfmarketing.powerhungryfoods.com/_vti_pvt/service.grp
