# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName phfmarketing.powerhungryfoods.com
AuthUserFile /hsphere/local/home/bbretail/phfmarketing.powerhungryfoods.com/_vti_pvt/service.pwd
AuthGroupFile /hsphere/local/home/bbretail/phfmarketing.powerhungryfoods.com/_vti_pvt/service.grp
